html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: "Bevan", sans-serif;
}

div {
  background-color: #79756f;
  padding: .6em;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  padding: .5em;
}

ul {
  display: inline-block;
}

.introduction {
  background-color: #713837;
  padding: .5em;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
}

.terrestrial-planets {
  background-color: #713837;
  padding: .5em .75em;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
}

.mars {
  background-color: #713837;
  padding: .5em;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
}

.venus {
  background-color: #713837;
  padding: .5em;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
}
